{:paths ["src"]

 ;; Include deps from deps.edn when running bb from inside bbyaga repo.
 :deps {bbyaga/deps {:local/root "."}}

 :tasks
 {outdated bbyaga.task/outdated
  nrepl    bbyaga.task/nrepl}}
