;; When bb loads libs, it looks for deps.edn and ignores bb.edn.
{:paths ["src"]
 :deps  {dev.nubank/docopt           {:mvn/version "0.6.1-fix7"}
         djblue/portal               {:mvn/version "0.34.2"}

         ;; Note: This is not compatible with clojure.
         org.babashka/spec.alpha {:git/url "https://github.com/babashka/spec.alpha"
                                  :git/sha "8df0712896f596680da7a32ae44bb000b7e45e68"}}}
